.DS_Store
.zcompdump*
.chezmoidata/
.chezmoistate/
.chezmoitemp/
*.swp
*.bak
*~
dot_zsh/local.zsh

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Terragrunt
.terragrunt-cache/
backend.tf
provider_infisical.tf

# Environment
.env
terraform/.env.infisical
.infisical.json
