brew "mise"
brew "tree"
brew "zsh-autocomplete"
brew "zsh-syntax-highlighting"

{{- if eq .chezmoi.os "darwin" }}
cask "ghostty"
cask "google-chrome"
cask "visual-studio-code"
cask "antigravity"
cask "font-plemol-jp-nf"
{{- end }}
