#!/bin/bash

{{ template "setup-brew-env.sh" . }}

AC_LIBRARY_PATH="$HOME/atcoder/ac-library"
if [ ! -d "$AC_LIBRARY_PATH" ]; then
    mkdir -p "$HOME/atcoder"
    git clone https://github.com/atcoder/ac-library "$AC_LIBRARY_PATH"
else
    cd "$AC_LIBRARY_PATH" && git pull
fi
