#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
if [[ -f "/opt/homebrew/bin/brew" ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{ else if eq .chezmoi.os "linux" -}}
if [[ -d "/home/linuxbrew/.linuxbrew" ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
elif [[ -d "$HOME/.linuxbrew" ]]; then
  eval "$($HOME/.linuxbrew/bin/brew shellenv)"
fi
{{ end -}}

TARGET_ZSH=$(command -v zsh)

if [ -z "$TARGET_ZSH" ]; then
  exit 0
fi

# Check current shell in a cross-platform way
if [[ "$OSTYPE" == "darwin"* ]]; then
    CURRENT_SHELL=$(dscl . -read /Users/$(whoami) UserShell | awk '{print $2}')
else
    CURRENT_SHELL=$(getent passwd $(whoami) | cut -d: -f7)
fi

if [ "$CURRENT_SHELL" = "$TARGET_ZSH" ]; then
  exit 0
fi

if ! grep -Fxq "$TARGET_ZSH" /etc/shells; then
  echo "$TARGET_ZSH" | sudo tee -a /etc/shells
fi

chsh -s "$TARGET_ZSH"
