{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
{{- if not (or (stat "/usr/local/bin/brew") (stat "/opt/homebrew/bin/brew") (stat "/home/linuxbrew/.linuxbrew/bin/brew")) -}}
#!/bin/bash
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end -}}
{{- end -}}
