{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -euo pipefail

if ! command -v tidal &>/dev/null && command -v cabal &>/dev/null; then
  echo "Installing TidalCycles..."
  cabal update
  cabal install --lib tidal
fi
{{- end }}
