export INFISICAL_UNIVERSAL_AUTH_CLIENT_ID=
export INFISICAL_UNIVERSAL_AUTH_CLIENT_SECRET=
export INFISICAL_ORG_ID=
export TF_VAR_infisical_project_id=
export TF_CLOUD_ORGANIZATION=
export TF_VAR_infisical_ci_identity_id=
