[tools]
{{- if ne .chezmoi.os "windows" }}
# Runtimes
node = "latest"
npm = "latest"
"npm:@github/copilot" = "prerelease"
"npm:@playwright/cli" = "latest"
"npm:@openai/codex" = "latest"
"npm:wrangler" = "latest"
"npm:@googleworkspace/cli" = "latest"
uv = "latest"
bun = "latest"
rust = "stable"
awscli = "latest"
terraform = "latest"
direnv = "latest"
{{- end }}

# Modern CLI Tools
fzf = "latest"
fd = "latest"
ripgrep = "latest"
bat = "latest"
{{- if eq .chezmoi.os "windows" }}
"github:eza-community/eza" = "latest"
{{- else }}
eza = "latest"
{{- end }}
zoxide = "latest"
starship = "latest"
yazi = "latest"
lazygit = "latest"
delta = "latest"
gh = "latest"
jq = "latest"

{{- if ne .chezmoi.os "windows" }}
lazydocker = "latest"
zellij = "latest"
{{- if ne .chezmoi.os "darwin" }}
make = "latest"
{{- end }}
neovim = "latest"
"github:anomalyco/opencode" = "latest"
bottom = "latest"
oxlint = "latest"
"npm:oxfmt" = "latest"

k9s = "latest"
kubectl = "latest"
kubectx = "latest"
kubens = "latest"
git-lfs = "latest"
lefthook = "latest"
{{- end }}
