{
  "skipDangerousModePermissionPrompt": true,
  "env": {
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1",
    "CLAUDE_CODE_ENABLE_TELEMETRY": "1",
    "OTEL_METRICS_EXPORTER": "otlp",
    "OTEL_LOGS_EXPORTER": "otlp",
    "OTEL_EXPORTER_OTLP_ENDPOINT": "{{ output "infisical" "secrets" "get" "GRAFANA_OTLP_ENDPOINT" "--plain" "--silent" "--env" "prod" "--path" "/generated" | trim }}",
    "OTEL_EXPORTER_OTLP_HEADERS": "Authorization=Basic {{ output "infisical" "secrets" "get" "GRAFANA_OTLP_BASIC_AUTH" "--plain" "--silent" "--env" "prod" "--path" "/generated" | trim }}",
    "OTEL_LOG_USER_PROMPTS": "1"
  },
  "enabledPlugins": {
    "skill-creator@claude-plugins-official": true
  },
  "hooks": {
    "SessionStart": [
      {
        "matcher": "startup|clear|compact",
        "hooks": [
          {
            "type": "command",
            "command": "\"$HOME/.claude/hooks/session-start\"",
            "async": false
          }
        ]
      }
    ]
  }
}
