{{- $mod := "ctrl" -}}
{{- if eq .chezmoi.os "darwin" }}{{ $mod = "cmd" }}{{ end -}}
onboarding = false

[theme]
name = "tokyo-night"

[keys]
prefix = "{{ $mod }}+g"

new_workspace    = ["prefix+t"]
new_tab          = ["prefix+{{ $mod }}+t"]
split_vertical   = ["prefix+alt+t"]
split_horizontal = ["prefix+minus"]
close_pane       = ["prefix+w"]
resize_mode      = ["prefix+n"]
rename_pane      = ["prefix+alt+r"]
zoom             = ["prefix+z"]

previous_tab       = ["{{ $mod }}+left"]
next_tab           = ["{{ $mod }}+right"]
previous_workspace = ["{{ $mod }}+up"]
next_workspace     = ["{{ $mod }}+down"]

focus_pane_left  = ["{{ $mod }}+alt+left"]
focus_pane_down  = ["{{ $mod }}+alt+down"]
focus_pane_up    = ["{{ $mod }}+alt+up"]
focus_pane_right = ["{{ $mod }}+alt+right"]
